extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="torre eiffel", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non arcu arcu. Nam laoreet scelerisque congue. Vestibulum feugiat rhoncus hendrerit. Curabitur eget feugiat dolor. Aenean maximus sem sed magna commodo sollicitudin. Proin varius, nisi non gravida sagittis, libero odio pulvinar augue, eget ullamcorper nulla ipsum nec odio. Nunc tempor felis vel porta rutrum. Aliquam et condimentum turpis. Nam ultricies hendrerit sem id venenatis.

                p Pellentesque blandit, nunc vitae tempor dignissim, nisi ante blandit lacus, vitae pretium ipsum ligula quis sem. Etiam lobortis, justo nec pretium tristique, mauris turpis tincidunt libero, vel aliquam mi justo non augue. Maecenas gravida, turpis vitae imperdiet efficitur, metus metus auctor lorem, nec iaculis purus erat nec eros. Donec diam eros, ultrices et elit quis, lacinia dapibus elit. Nunc varius sodales lectus. Maecenas et dui laoreet velit blandit pellentesque. 

                p Sed facilisis ligula sit amet diam vulputate, eget euismod sapien eleifend. Praesent lobortis neque id lacus dictum, et pharetra urna mattis. Vivamus malesuada, augue eget sodales rutrum, nunc turpis imperdiet metus, vel mollis nisi elit nec elit. Praesent ac ullamcorper metus. Sed et pellentesque elit. In hac habitasse platea dictumst. Sed a sapien auctor, ornare elit maximus, iaculis diam. Fusce fermentum sem purus, eu commodo mi tempus vitae. Nam tempus tristique tincidunt. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nunc lobortis nec lorem quis rutrum. Mauris faucibus erat luctus mauris aliquet posuere.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nunc lobortis nec lorem quis rutrum. Mauris faucibus erat luctus mauris aliquet posuere.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Nunc lobortis nec lorem quis rutrum. Mauris faucibus erat luctus mauris aliquet posuere.
                    